.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.uupr{
  color: rgb(243, 76, 76);
}
.list{
  font-size: 30px;
  font-weight: lighter;
  color: red;
  letter-spacing: 3px;
}
.formii{
  margin: auto;
  height: 200px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  justify-content:space-around;
  flex-direction: column;

}
.homi{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homii{
  width: 100vw;
  height: 50vh;
}
.heading{
  font-size: 100px;
  color: rgb(218, 102, 102);
}
.heading2{
  margin: 20px;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: lighter;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
